/* Search */
.search {
	position: relative;
	max-width: 800px;
	width: 60%;
}
.search .MuiInput-root {
	width: 100%;
	border-radius: 48px;
	background-color: #fff;
	padding: 16px;
}
.search .MuiButton-contained {
	position: absolute;
	right: 8px;
	top: 8px;
	min-width: 48px;
	height: 48px;
	border-radius: 48px;
	padding: 0;
}

/* chipAvatar */
.chipAvatar {
	height: 48px;
	border-radius: 48px;
	background-color: #eff0f7;
}
.chipAvatar .MuiChip-avatar {
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
}

.chipAvatarSmall {
	height: 40px;
	border-radius: 40px;
	backdrop-filter: invert(25%);
	background-color: rgba(255, 255, 255, 0.15);
}
.chipAvatarSmall .MuiChip-avatar {
	width: 32px;
	height: 32px;
	border: 1px solid #fff;
}

.multiline-ellipsis {
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
	min-height: 4rem;
}

.singleline-ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	height: 1em;
	min-height: 1em;
}

.triplex-ellipsis {
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
	min-height: 5.75rem;
}
